<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <th:block th:include="~{common/head}"></th:block>
    <body>
        <!-- Navigation-->
        <th:block th:include="~{common/nav-bar}"></th:block>
        <!-- Header-->
        <th:block th:include="~{common/header}"></th:block>

        <!-- Footer-->
      <th:block th:include="~{common/footer}"></th:block>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
